@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Ubuntu";

  src: url("../../../public/font/Ubuntu/Ubuntu-Regular.ttf");
}


@layer components {
    
      
    .gradiantPage{
        
      
        background: repeating-linear-gradient(#373737, #181818) 
    }
    .gradiant{
        @apply h-screen w-screen;
      
        background: repeating-linear-gradient(#373737, #181818) 
    }
    .animate-float-up {
        @apply   animate-spin ;
        
            animation: float-up  ease-in-out infinite;
          
          
          @keyframes float-up {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(-100%);
            }
          }
    }
}

.body {
   /* overflow-y:scroll;
    overflow-x: hidden;
    /*height: calc(100vh - 0px);*/
   /* min-width: 250px;
    padding: 30px;
    width: 100vw;
    /*padding-left: 18vw;*/
    /*margin-top: -1vw;/*enlève la ligne blanche sous navbar*/
    /*padding-top: 2vw;*/
   
    /*color: white;
    background: linear-gradient( #1e1e1e, #121212);*/
}
