@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";

  src: url("../../../public/font/Ubuntu/Ubuntu-Regular.ttf");
}

@layer components {
 .collapse {
    @apply h-0 hidden invisible overflow-hidden transition-all  delay-700 ease-in-out  ;
   
  }
  .collapse.show {
    @apply h-auto visible  transition-all ease-in;
  }
  
  
}
.flex {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  padding: 10px;
}
  