.body {
    margin-left:250px ;
    min-width: 250px;
    padding: 30px;
    
    width: 100vw;
    padding-left: 18vw;
    margin-top: -1vw;/*enlève la ligne blanche sous navbar*/
    padding-top: 2vw;
 
    color: white;
    background: linear-gradient( #1e1e1e, #121212);
}
