.body {
    margin-left:250px ;
    min-width: 250px;
    padding: 30px;
    width: 100%;
    height: 100vh;
    overflow-y: overlay;
    right: 250px;
    flex: 0.8;
    color: white;
    background: linear-gradient( #1e1e1e, #121212);
}
