@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";

  src: url("../public/font/Ubuntu/Ubuntu-Medium.ttf");
}


@layer components {
    
      
  .gradiantPage{
      
    
      background: repeating-linear-gradient(#373737, #181818) 
  }
  .gradiant{
      @apply h-screen w-screen;
    
      background: repeating-linear-gradient(#373737, #181818) 
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
    background: #111113;
    color: #fff;
    /*min-width: 460px !important;*/
  
  margin: 0;

  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  text-align: center;
}
